[submodule "Native/external/imgui"]
	path = Native/external/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Native/external/imgui_toggle"]
	path = Native/external/imgui_toggle
	url = https://github.com/cmdwtf/imgui_toggle.git
[submodule "Native/external/imgui-knobs"]
	path = Native/external/imgui-knobs
	url = https://github.com/altschuler/imgui-knobs.git
